<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="PlivoSDET1">
<listeners>
		<listener class-name="com.Base.TestListeners"></listener>
	</listeners>
  <test thread-count="5" name="UI Test Drag and Drop">
    <classes>
      <class name="com.PlivoSDET1.DragTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
